	</div>
	<footer class="page-footer">
		<div class="container">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-1-2">
					<ul>
						<li><span>Copyright &copy; 2018 ISYS2120 Device Management</span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<script src="{{ url_for('static', filename='scripts/clickable.js') }}"></script>
</body>
</html>
