{% include 'top.html' %}
<div class="content">
	<div class="container details">
		<h1 class="title">Department Personnel</h1>
		<table class="styled">
			<thead>
				<tr>
					<th>Employee ID</th>
					<th>Name</th>
					<th>Home Address</th>
					<th>Date of Birth</th>
				</tr>
			</thead>
			<tbody>
				{% for emp in colleagues %}
					<tr class="clickable-tr" data-href="{{ url_for('personel', empid=emp[0]) }}">
						<td>{{ emp[0] }}</td>
						<td>{{ emp[1] }}</td>
						<td>{{ emp[2] }}</td>
						<td>{{ emp[3] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if session.manager is not none %}
		<p><a href="{{ url_for('employ') }}">Employ New Personnel</a></p>
		{% endif %}
	</div>
</div>
{% include 'bottom.html' %}
