{% include 'top.html' %}
<div class="content">
	<div class="container details">
		<h1 class="title">Employ New Personnel</h1>
		<form id="employ" method="POST" action="{{url_for('employ')}}">
		<table>
			<tr>
				<td>Name</td>
				<td><input name="name" type="text" required></td>
			</tr>
			<tr>
				<td>Home Address</td>
				<td><input name="addr" type="text" required></td>
			</tr>
			<tr>
				<td>Date of Birth</td>
				<td><input name="dob" type="date" required></td>
			</tr>
			<tr>
				<td>Phone Numbers (split by enter)</td>
				<td><textarea name="nos" form="employ" rows="5" cols="30" required></textarea></td>
			</tr>
				<td>Password</td>
				<td><input name="pwd" type="text" required></td>
			<tr>
			</tr>
		</table>
		<button class="flat" type="submit">Submit</button>
		</form>
	</div>
</div>
{% include 'bottom.html' %}
