{% include 'top.html' %}

<div class="content">
	<div class="container">
		<h1 class="title">Issue Device</h1>

		<form class="newbooking pure-form pure-form-aligned" method="POST" action="{{url_for('issue_device')}}">
			<div class="pure-control-group">
				<label for="empid"> Employee ID: </label>
				<select name="empid" placeholder="Employee" required>
					{% for employee in employees %}
						<option value="{{employee[0]}}">{{employee[1]}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="pure-control-group">
				<label for="manufacturer">Manufacturer</label>
				<select name="manufacturer"placeholder="Manufacturer" id='manufacturer' required>
					{% for model in models %}
						<option value="{{model[0]}}">{{model[0]}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="pure-control-group">
				<label for="model_number">Model Number</label>
				<select name="model_number" placeholder="Model Number" id='model_number'  required>
					{% for model in models %}
						<option value="{{model[1]}}">{{model[1]}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="pure-control-group">
				<label for="deviceid">Device ID</label>
				<select name="deviceid" placeholder="deviceid" id='deviceid' required>
				</select>
			</div>
			<button type="submit" class="flat">Issue Device</button>
		</form>
	</div>
</div>
<script src="{{ url_for('static', filename='scripts/issue_select.js') }}"></script>

{% include 'bottom.html' %}

