{% include 'top.html' %}
<div class="content">
	<div class="container">
		<h1 class="title">Employee ID: {{empid}}</h1>
		<h2>Department: {{department}}</h2>
		<h2>Model: {{model}}</h2>
		<h2>Manufacturer: {{manufacturer}}</h2>
		<table class="styled">
			<thead>
				<tr>
					<th>Device ID</th>
					<th> Issued (?)</th>
					<th> Revoke <br> (Click to Revoke) </th>
				</tr>
			</thead>
			<tbody>
				{% for dev in device_assigned %}
					<tr>
						<td><a href="{{ url_for('device', deviceid=dev[0]) }}">{{ dev[0] }}</a></td>
						<td>{{ dev[1] }}</td>
						{% if dev[1] %}
							<td>
								<a href="{{url_for('revoke_device', empid=empid, device_id=dev[0], model=model, department=department, manufacturer=manufacturer)}}">
									<div class="revoke-btn"></div>
								</a>
							</td>
						{% else %}
							<td> </td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% include 'bottom.html' %}
