{% include 'top.html' %}
<div class="content">
	<div class="container details">
		<h1 class="title">Personal Detail</h1>
		<table>
			<tr>
				<td>Employee ID</td>
				<td> {{ personel[0] }}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td> {{ personel[1] }} </td>
			</tr>
			<tr>
				<td>Home Address</td>
				<td> {{ personel[2] }} </td>
			</tr>
			<tr>
				<td>Date of Birth</td>
				<td> {{ personel[3] }} </td>
			</tr>
			<tr>
				<td>Phone Number</td>
				<td><td>
			</tr>
			{% for phone in phonenos %}
				<tr>
					<td></td>
					<td>{{ phone[0] }}</td>
				</tr>
				{% endfor %}
		</table>
	</div>
</div>
{% include 'bottom.html' %}
