{% include 'top.html' %}
<div class="content">
	<div class="container details">
		<h1 class="title">Add new repair record</h1>
		<form id="report" method="POST" action="{{url_for('report')}}">
		<table>
			<tr>
				<td>Device ID</td>
				<td><input name="id" type="text" required></td>
			</tr>
			<tr>
				<td>Fault Report</td>
				<td><textarea name="faultreport" form="report" rows="5" cols="30" maxlength="60" required></textarea	></td>
			</tr>
			<tr>
				<td>Start Date</td>
				<td><input name="startdate" type="date" required></td>
			</tr>
			<tr>
				<td>End Date</td>
				<td><input name="enddate"type="date" required></td>
			</tr>
			<tr>
				<td>Cost</td>
				<td><input name="cost" type="number" step="0.01" min="0" required></td>
			</tr>
			<tr>
				<td>Service ABN</td>
				<td><input name="svcabn"type="number" required></td>
			</tr>
			<tr>
				<td>Service Name</td>
				<td><input name="svcname"type="text" required></td>
			</tr>
			<tr>
				<td>Service Email</td>
				<td><input name="svcemail"type="email" required></td>
			</tr>
		</table>
		<button class="flat" type="submit">Submit</button>
		</form>
	</div>
</div>
{% include 'bottom.html' %}
